@import 'src/variables.scss' ;



:host {
    display: flex;
    flex-direction: column;

    position: relative;
}


.fullScreenLogosWrapper {
    position: absolute;
    top: 1.2%;
    left : 1.2%;
    // background-color: rgba(255, 255, 0, 0.432);

    &-fullScreenMode {
        top: 10px !important;
        left: 10px !important;
    }

    &:hover .fullScreenLogosWrapper__tooltiptext {
        opacity: 0.8;
        visibility: visible;

    }

    &__tooltiptext {
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 5px;
        font-style: italic;
        padding: .5rem;
        position: absolute;
        top: 124%;
        left: -12%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;

        &::after {
            content : '';
            position :absolute;
            top: -19%;
            right: 54%;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        }
    }
}

.fullScreen__logo {
    height : 2.3rem;
    width: 2.3rem;
    // position: absolute;
    // top: 1.2%;
    // left : 1.2%;
    cursor : pointer;
    fill : rgba(0, 0, 0, 0.521);

    // &-shrink {
    //     // top: 0.6% !important;
    //     // left: 0.9% !important;
    // }
}


.changeFontSizeWrapper {
    position : fixed;
    top: 32%;
    right: 5%;
    
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    &:hover > &__tooltiptext {
        opacity: 0.8;
    }

    &__tooltiptext {
        // visibility: hidden;
        // width: 10vw;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 5px;
        font-style: italic;
        padding: .5rem;
        position: absolute;
        top: 122%;
        left: -219%;
        opacity: 0;
        transition: all 0.2s;

        &::after {
            content : '';
            /* display : block; */
            position :absolute;
            top: -19%;
            right: 12%;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            
            border-bottom: 10px solid white;
        }
    }

    &__lyricsFullScreen {
        top : 71% !important;
        right : 3.5% !important;
    }

    &__logo {
        height: 2.5rem;
        width: 2.5rem;
        cursor : pointer;
        // &:hover .changeFontSizeWrapper__tooltiptext {
        //     opacity: 0.2;
        // background-color: red;

        // }

        &-increase {
            position: relative;
            fill : rgb(24, 156, 24);
            margin-bottom: 0.4rem;
            // Change it to #myDiv:hover::after
            &::after {
                // position:absolute;
                // top: 0;
                // left: 0;
                content:"hahaha";
                display:block;
                background-color : red;
                color : yellow;
                // width:50px;
                // height:50px;
            }
        }

        &-decrease {
            fill : red;
        }
    }
}

// * { border : 3px solid green }


.searchBoxContainer-lyrics {
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-self: center;
}



.lyricsSuggestions {
    align-self: center;
    list-style: none;
    // margin-bottom: auto;
    width : 87%;

    &__suggestion {
        transition : all 0.2s;
        cursor : pointer;
        background-color: #D4E0F4;
        padding: 1rem 2rem;
        font-size: 1.5rem;

        border : 1px solid rgba(0, 0, 0, 0.473);

        &:first-child {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        &:last-child {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            margin-bottom: 2rem;
        }

        &:not(:first-child) {
            border-top : 1px solid rgba(0, 0, 0, 0.473)
        }

        &:not(:last-child) {
            border-bottom : none
        }

        &:hover {
            background-color: rgba(147, 181, 241, 0.644);
        }
    }
}


.lyric-container {
    font-family: 'Raleway', sans-serif;
    line-height: 152%;
    font-weight: 500;
    font-size : 1.5rem;
    text-align: center;
    transition: all 2.3s ease-out;
    &::first-line {
        font-weight: bolder;
        font-style: italic;
        font-size : 2rem;
    }
}


.fontSize-1_5rem {
    font-size: 1.5rem !important;
}


.fontSize-2rem {
    font-size: 2rem !important;
}


.fontSize-2_5rem {
    font-size: 2.5rem !important;
}


