
@import 'src/variables.scss' ;


:host {
   display : flex;
   justify-content: center;
   align-items: flex-end;
   position: relative;
}



.logoContainer {
    position: absolute;
    top: 0 ;
    left : 0;
    display : grid;
    padding :0 1rem;


    & span {
        font-size: 3rem;
        font-family: 'Niconne', cursive;
        color: #c21f27;

        &::first-letter {
            font-size : 5rem;
            color: rgb(236, 37, 146);
            font-weight:bolder
        }

        &:last-child {
            margin-left: 2rem;
            margin-top: -1.5rem;
        }
    }
}



.searchBoxContainer-header {
    align-self: flex-end;
    margin-bottom : 2rem;
}










