<div class="container" appDetectScroll>
    <app-header></app-header>

    <main class="body" [ngClass]="{body__lyricsFullScreen: isLyricsFullScreen}"
          [@lyricsFullScreenState]="isLyricsFullScreen ? 'fullScreen' : 'default'">
        <app-youtube [ngClass]="{ videoShrink: isLyricsFullScreen}"
                     [isLyricsFullScreen]= "isLyricsFullScreen"
                     (videoSelectedEmitter)= 'videoSelected = $event'>
        </app-youtube>
        <app-lyrics [ngClass]= "{'lyrics-background-hideImage': hideBackgroundImage, lyricsFullScreen: isLyricsFullScreen}"
                    [isVideoSelected]= 'videoSelected'
                    (hideBackgroundImageEmitter)= 'hideBackgroundImage= true'
                    (lyricsFullScreenEmitter)= 'onLyricsFullScreen($event)'>
        </app-lyrics>
    </main>
</div>
