@import 'src/mixins.scss';


:host {
    display : flex;
    flex-direction: column;
    // justify-content: center;
    position: relative;
    
}

// * { border : 1px solid yellow}

.iframeWrapper-small {
    height : 30vh !important;
    width : 39vw !important;
    @include respond(tab-port) { width : 60vw !important }
    @include respond(tab-port-small) { width : 80vw !important }
    
    position : relative !important;
    transform : translate(0, 0) !important;
    top: 0 !important;
    left: 0 !important;
    align-self: center;

    &-onTheSide {
        height : 21vh !important;
        width  : 21vw !important;
    }
}

$videoHeight : 20vw;
// $videoHeight : 13vw;
.iframeWrapper {
    z-index: 10;
    position : absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -41%);
    border-radius: 4px;
    height: $videoHeight;
    width : calc(1.777 * #{$videoHeight});
    transition : all 0.4s;

    &__videoPlayer {
        height: 100%;
        width : 100%;
    }

    .exitVideoButton {
        position: absolute;
        top: 0;
        right: -24px;
        height: 2.5rem;
        width: 2.5rem;
        cursor : pointer;
    }

}

.hideVideoWrapper {
    opacity : 0 !important;
    visibility: hidden !important;
}


.videoFrame {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition : all 0.4s;
}


.searchBoxContainer-video {
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-self: center;
}


.videosSuggestions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
    @include respond(tab-port) {
        grid-template-columns: 1fr 1fr;
    }

    @include respond(tab-port-small) {
        grid-template-columns: 1fr;
    }

    


    &__suggestion {
        cursor: pointer;
        overflow:hidden;
        border-radius: 4px;
        border :1px solid transparent;
        transition: all 0.1s;
        display : grid;
        grid-template-rows: 15rem 1fr;
        align-items: stretch;

        &:hover {
            border :1px solid rgba(255, 0, 0, 0.5);
        }

        &__imgWrapper {
            width: 100%;
            height: 100%;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }


        &__title {
            // text-align: center;
            display : flex;
            align-items: center;
            justify-content: center;
            padding : 1.5rem 1rem;
            background-color: rgba(195, 155, 218, 0.527);
            font-size: 1.2rem;
        }
    }

}





