



<div class="searchBoxContainer  searchBoxContainer-video" *ngIf='!isLyricsFullScreen'>

    <input type="text" class="searchBox" placeholder="search for music videos .." #searchInput 
    (keyup.enter)="onSearch(searchInput); searchInput.blur()" [value]="searchQuery"> 

    <div class="searchLogo" (click)='onSearch(searchInput); searchInput.blur()'  >
        <svg class="searchLogo__logo" *ngIf='!isLoading' > <use xlink:href="/assets/symbol-defs.svg#icon-film"></use> </svg>
        <app-loading-spinner *ngIf='isLoading'></app-loading-spinner>
    </div>

</div>
 


<ul class="videosSuggestions" *ngIf="showSuggestions">

    <li class="videosSuggestions__suggestion" *ngFor="let sugg of allSuggestions" (click)="onSelectVideo(sugg)" >
        <figure class="videosSuggestions__suggestion__imgWrapper"> <img  [src]="[sugg.thumbnail]"> </figure>
        <p class="videosSuggestions__suggestion__title"   > {{ sugg.title }} </p>
    </li>

    <!-- <li class="videosSuggestions__suggestion" *ngFor="let sugg of allSuggestions" (click)="onSelectVideo(sugg)" >
        <img  src="https://i.ytimg.com/vi/r_0JjYUe5jo/hqdefault.jpg" alt="">
        <p class="videosSuggestions__suggestion__title"> KHladed sxrf ssser hdss zhhdsh </p>
        
    </li> -->

</ul> 



<div class="iframeWrapper"   *ngIf='showVideoFrame'  appAdjustPlayerSize (calculatedWidth)='setCalculatedPlayerWidth($event)' [ngClass]="{'iframeWrapper-small' : isLyricsFullScreen}" >
    <!-- <div class="iframeWrapper"    [ngClass]="{'iframeWrapper-small' : isLyricsFullScreen}" > -->
    <svg class="exitVideoButton"   *ngIf='showVideoFrame && !isLyricsFullScreen'  (click)="returnToVideos()" > <use xlink:href="/assets/symbol-defs.svg#icon-x-square"></use> </svg>

    <iframe class="videoFrame"  #videoPlayer  id="video" [src]="selectedVideoUrlSafe"  *ngIf='showVideoFrame' frameborder="0" 
    allow="accelerometer; autoplay ; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe> 
</div> 

