
// C:\Users\Zoldyck\Desktop\Web-Dev\Angular training\Projets - Personal\Intermediate\SingAlong\SingAlong\src\variables.scss

// @import "src/variables.scss";

// @import 'src/variables.scss' ;


// #################################################        VARIABLES     ########################################################################



$main-color : #f6e5f5;
$main-color-darker1 : #fbf4f9;
$main-color-darker2 : #f6e7e6;
$main-color-darker3 : #b9cced;



